<h2>New Tweet!</h2>
<form  data-tweet-ul="#feed" class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label class='text-area'>
    Content
    <textarea name="tweet[content]"></textarea>
  </label>
  <br>

  <label>
    Mention
    <a href="javascript:void(0)" class="add-mentioned-user">Add Mentions</a>
    <div class="mentioned-users">

    </div>
    <script class="list-users" type="text/template">
      <div>
        <a href="javascript:void(0)" class="remove-mentioned-user">Remove Mention</a>

      <select name="tweet[mentioned_user_ids][]">
        <option></option>
        <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select>
    </div>
    </script>
  </label>
  <br>

  <input type="Submit" value="Post Tweet!">
</form>
